<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ShowTrackr</title>
      <link rel="icon" href="images/television.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style>
a{ color: gray;
font-weight: normal;}
.box{background-color: lightgray;
  display: inline-block;
padding-left: 5px;padding-right: 5px;
  font-size: 12px;
  border-radius: 3px
}
.alphabets-link-size{font-size: 27px;}
.center {margin: auto;
width: 65%;
padding-left: 9%;
align-self: auto;}
.background-box{background-color:hsl(0, 0%, 97%);
padding-top:10px;
padding-bottom:10px;


  }
#boxshadow {box-shadow: 2px 2px 2px grey;}
.imgdesign{border-radius: 10px;
  width:100%;
  height:100%;
}
.imglink{
font-size: 20px;
color: black;}
.episodes{font-size: 15px;
color: grey;}
input[type=text], select{
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
</style>
  </head>
  <body style="background-color:hsl(0, 0%, 94%)">
<!--starting navbar-->
<nav id="boxshadow" style="background-color:white;" class="navbar navbar-default">

    <div style="background-color:yellow;" class="navbar-header">
    <a class="navbar-brand"href="#"><span class="glyphicon glyphicon-film"></span> Show<strong>Trackr</stron></a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li class="active"><a href="#"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Signup</a></li>
    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>
</nav>
  <!-- nav bar end..-->
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        ADD TV SHOW

      </div>
      <div class="panel-body">

        <form class="" action="index.html" method="post">
          <label for="name">Name</label>
        <br>  <input type="text" id="tv-show-name" placeholder="Enter TV Show Name">
      <div class=" alert-info"><p id="tv-show"></p></div>
    <button type="button" class="btn btn-info" id="addd" onclick="getInfo()">Add</button>
        </form>
      </div>
    </div>

  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



  <footer><div class="container-fluid footer-default" id="shadowbox" style="background-color:white;"><center><div>
    <div class="col-sm-4 feature"

    <p style="align:right;">Created by Uki coding school student.<br>This is a Uki coding school assignment project.| Created & Designed | by <a href="https://ramjega.github.iomjega.github.io/"><strong>Sriram</strong></a><br><a href="http://uki.life/">UKI LIFE</a><br>info@uki.life</p>
  </div>
    <div class="col-sm-4 feature"><center><h3>| Thank you for visited to this page |</h3></center></div>
    <div class="col-sm-4 feature" style="align-self:right;">
      <p>Jegatheesan Sriram <br>0775228995 <br>sriramram1995@gmail.com <br><a href="https://ramjega.github.iomjega.github.io/">Website</a></div>
    </div>

  </div></div></center>
  </footer>




<script>

function getInfo() {
    var tvShow= document.getElementById('tv-show-name').value;
    var c=tvShow[0];

    if(c.toLowerCase() == c.toUpperCase()) {
    document.getElementById("tv-show").innerHTML = " Failed!! Invalid TV Show name";
    }
     else {
    document.getElementById("tv-show").innerHTML = "Success!!" + " " +tvShow +" Tv show has been added";
    }
 }

</script>


</html>
