<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gleefly</title>
    <link rel="icon" href="images/television.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style>
  .hide1 {
    display: none;
  }
  .show {
    display: block;
  }
a{ color: gray;
font-weight: normal;}
.box{background-color: lightgray;
  display: inline-block;
padding-left: 5px;padding-right: 5px;
  font-size: 12px;
  border-radius: 3px
}
.letters-link-size{font-size: 27px;}
.center {margin: auto;
width: 65%;
padding-left: 9%;
align-self: auto;}
.background-box{background-color:hsl(0, 0%, 97%);
padding-top:10px;
padding-bottom:10px;


  }
#boxshadow {box-shadow: 2px 2px 2px grey;}
.imgdesign{border-radius: 10px;
  width:100%;
  height:100%;
}
.imglink{
font-size: 20px;
color: black;}
.episodes{font-size: 15px;
color: grey;}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
</style>
  </head>
  <body style="background-color:hsl(0, 0%, 94%)">
<!--starting navbar-->
<nav id="boxshadow" style="background-color:white;" class="navbar navbar-default">

  <div style="background-color:orange;" class="navbar-header">
  <a class="navbar-brand"href="#"><span class="glyphicon glyphicon-film"></span> Glee<strong>fly</stron></a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
  
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if(user){ %>
  <!--Welcome...!!--><li><a href="/profile">
  <% if (user.twitter.username != null) { %>
  <%= user.twitter.username %>
  <% } else if (user.google.email != null) { %>
  <%= user.google.email %>
  <% } else if (user.facebook.name  != null)  { %>
  <%= user.facebook.name  %>
  <% } else { %>
  <%= user.local.email %>
  <% } %>
  </a>
  </li>
   <li><a href="/logout"><i class="fa fa-sign-out"> Logout</a></i>
   <% } else{ %>
      <li><a href="/login"><i class="fa fa-sign-in"></i>
      Login</a></li>
          <li><a href="/signup"><i class="fa fa-user-plus"></i>
      Sign Up</a></li>
  <% } %>

  </ul>
</nav>
  <!-- nav bar end..-->


<!-- Pagination start-->
<center class="background-box">
<div class="letters-link-size">

  <!-- letters start-->
  <button class="btn btn-sm btn-primary"onclick="filterSelection('all')">All</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-0-9')">0-9</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-a')">A</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-b')">B</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-c')">C</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-d')">D</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-e')">E</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-g')">G</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-h')">H</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-i')">I</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-j')">J</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-k')">K</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-l')">L</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-m')">M</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-n')">N</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-o')">O</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-p')">P</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-q')">Q</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-r')">R</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-s')">S</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-t')">T</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-u')">U</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-v')">V</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-w')">W</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-x')">X</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-y')">Y</button>
<button class="btn btn-sm btn-primary"onclick="filterSelection('letter-z')">Z</button><br></div> <!-- letters ends-->

<!--Names start-->

<br>
<!--Top shows div start-->
<div class="container ng-scope">
  <div class="panel panel-default">
    <div class="panel-heading"><!--heading pannel starts-->
      Our cars
  <!--Search box starts here-->
  <div class="pull-right">
   <input class="search ng-pristine ng-untouched ng-valid" ng-model="query.name" placeholder="Search..."type="text" >
      </div><!--search box ends here-->
    </div><!--Heading pannel ends here-->


    <div class="panel-body">
      <div class="row show-list"> <!--shows table start-->
        <div class="col-sm-3 feature hide1 adventure letter-m">
        <center><a class="imglink" href="/1stcar"><img  class="imgdesign"src="http://www.releasenewcar.com/wp-content/uploads/2017/11/2017-bugatti-chiron-sport-car-interior-1139-x-643.jpg" alt="Man vs wild"></a><br>
        <a class="imglink" href="/1stcar">2017 Bugatti Chiron  </a><p class="episodes">Price:10000/day</p></center>
      </div>
      <div class="col-sm-3 feature hide1 action letter-t">
      <center><img  class="imgdesign"src="https://res.cloudinary.com/carsguide/image/upload/f_auto,fl_lossy,q_auto,t_cg_hero_large/v1/editorial/ferrari-488-spider-2016-%282%29.jpg" alt="walking dead"><br>
      <a class="imglink" href="#">Ferrari 2017</a><p class="episodes">Price: 15000/day</p></center>
    </div>
    <div class="col-sm-3 feature hide1 crime letter-b">
    <center><img  class="imgdesign"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPP0OtUQQsIfCBafGZNmWLyq-6-sbZsvYEpO12zAMBKOONh-w8Ug" alt="Bones"><br>
    <a class="imglink" href="#">2017 Citroen eMehari</a><p class="episodes">Price: 20000/day</p></center>
    </div>
    <div class="col-sm-3 feature hide1 thriller letter-b">
    <center><img  class="imgdesign"src="http://autocall.biz/wp-content/uploads/2017/11/coupe-2016-mercedes-benz-c200-coupe-2016-review-carsguide.jpg" alt="Breakingdad"><br>
    <a class="imglink" href="#">Coupe 2016 Mercedes Benz C200</a><p class="episodes">Price: 30000/day</p></center>
    </div></div>




      </div>


</div>

  </div>


<!--footer start-->
<footer><div class="container-fluid footer-default" id="shadowbox" style="background-color:white;"><center><div>
  <div class="col-sm-4 feature"

  <p style="align:right;">Created by Uki coding school student.<br>This is a Uki coding school assignment project.| Created & Designed | by <a href="https://ramjega.github.iomjega.github.io/"><strong>Sriram</strong></a><br><a href="http://uki.life/">UKI LIFE</a><br>info@uki.life</p>
</div>
  <div class="col-sm-4 feature"><center><h3>| Thank you for visited to this page |</h3></center></div>
  <div class="col-sm-4 feature" style="align-self:right;">
    <p>Jegatheesan Sriram <br>0775228995 <br>sriramram1995@gmail.com <br><a href="https://ramjega.github.iomjega.github.io/">Website</a></div>
  </div>

</div></div></center>
</footer>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("hide1");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
</html>
